<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a14512.discover">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
<!--
    //读取系统信息，包含系统版本等信息，用作统计
-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
<!--
    //获取统计数据
-->
    <uses-permission android:name="android.permission.GET_TASKS" />
<!--
    //鉴权所需该权限获取进程列表
-->
    <uses-permission android:name="android.permission.CAMERA" />
<!--
    //使用步行AR导航，配置Camera权限
-->

    <application
        android:name=".DiscoverApplication"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.main.view.activity.MainActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".welcome.GuideActivity"/>

        <activity android:name=".modules.login.view.LoginActivity" />

        <activity android:name=".modules.login.view.RegisterActivity" />

        <activity android:name=".modules.travel.view.TravelKnowledgeActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"/>

        <activity android:name=".modules.arround.view.AroundActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"/>

        <activity android:name=".modules.community.view.CommunityActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"/>

        <activity android:name=".modules.route.view.RouteActivity"
            android:theme="@style/SwipeBack.Transparent.Theme"/>

        <activity android:name=".modules.main.view.activity.ChooseActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SwipeBack.Transparent.Theme"/>

        <activity android:name=".modules.main.view.activity.RoutePlanActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <activity android:name=".modules.travel.view.WebActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <activity android:name=".modules.main.view.activity.MapActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <activity android:name=".modules.main.view.activity.GoGuideActivity" />

        <activity android:name=".modules.main.view.activity.AllRouteActivity" />

        <activity android:name=".modules.main.view.activity.MapGuideActivity" />

        <activity android:name=".modules.main.view.activity.ScenicActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <activity android:name=".modules.community.view.CommunityDetailActivity"
            android:theme="@style/SwipeBack.Transparent.Theme" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KdSXm6WC6PUH37vlp8dFjhAScQGDcGGL" />

        <service
            android:name="com.baidu.locationManager.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>

        <activity
            android:name=".share.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="2411b2cc370a0"/>
        <meta-data android:name="Mob-AppSecret" android:value="1b6dd2341e27fc05a5ad2e02bcdf3643"/>

    </application>

</manifest>